{% extends 'index.html' %}


{% block content %}
<h2 class="main__title">Выбери количество электрических приборов:</h2>
<ul class="list" id="list">
  <!-- Задание №3 -->
  <li class="list__item">
    <a href={{lights + '/4'}}>
      <img class="item__img" src="../static/img/battery.svg" alt="battery">
      <span>3-5 прибора</span></a>
  </li>
  <li class="list__item">
    <a href={{lights + '/7'}}>
      <img class="item__img" src="../static/img/battery.svg" alt="battery">
      <span>6-8 приборов</span></a>
  </li>
  <li class="list__item">
    <a href={{lights + '/10'}}>
      <img class="item__img" src="../static/img/battery.svg" alt="battery">
      <span>10 и более</span></a>
  </li>
  <!--  -->
  <li class="list__item">
    <a href={{lights + '/2'}}>
      <img class="item__img" src="../static/img/eco.jpg" alt="battery">
      <span>Eco assemblig 6 electronics with category A++</span></a>
  </li>
</ul>
{% endblock %}
