{% extends 'index.html' %}


{% block content %}
<h2 class="main__title">Выбери освещение:</h2>
<ul class="list" id="list">
  <li class="list__item">
    <a href={{size + "/3" }}>
      <img class="item__img" src="../static/img/light.svg" alt="light">
      <span>2-4 лампочки</span></a>
  </li>
  <!--Задание №2 -->
  <li class="list__item">
    <a href={{size + "/7" }}> 
      <img class="item__img" src="../static/img/light.svg" alt="light">
      <span>4-6 лампочек</span></a>
  </li>
  <li class="list__item">
    <a href={{size + "/10" }}>
      <img class="item__img" src="../static/img/light.svg" alt="light">
      <span>8 и более</span></a>
  </li>
  <li class="list__item">
    <a href={{size + "/3" }}>
      <img class="item__img" src="../static/img/eco.jpg" alt="light">
      <span>Eco assemblig 4 lights</span></a>
  </li>
</ul>
{% endblock %}
